<ng-container *ngIf="finished else letsPlay">
    Thanks for learning new alphabet, and pretend to speak the langage to be cool ! <br/>
</ng-container>
<ng-template #letsPlay>
    <ng-container *ngIf="isFile else letters">
        <img height="200"
             width="200"
            [src]="fileLocation + quizzName + remainingQuestions[currentQuestionIndex].letter">
    </ng-container>
    <ng-template #letters>
        <p style="font-size: 50px;">
            {{  remainingQuestions[currentQuestionIndex].letter }}
        </p>
    </ng-template>
    <br />
    <label for="answerId">Answer: </label>
    <input id="answerId" type="text" [(ngModel)]="userAnswer" />

    <button *ngIf="!actualAnswer"
            (click)="submitAnswer()"
            [disabled]="currentAnswer == ''">Submit answer</button>

    <br />
    <ng-container *ngIf="actualAnswer">
        {{ actualAnswer }}
        <br />
        <button (click)="seeAnswer()">OK, next question</button>
        <br />
    </ng-container>

    Remaining: {{ remainingQuestions.length }}
    <br />
</ng-template>
Errors: {{ errors }} / {{ attempts }}